.avatar-download {
	margin-top: 8px;
	width: 100%;
	display: grid;
	grid-template-columns: 132px 1fr;
	gap: 36px;
	&__img {
		width: 140px;
		height: 140px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: linear-gradient(225deg, #AE7AFF 0%, #6686FF 100%);
		border-radius: 100px;
		color: var(--dark-color);
		img {
			width: 132px;
			height: 132px;
			border-radius: 100px;
		}
	}
	&__svg {
		width: 132px;
		height: 132px;
	}
	&__drag {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border: 1px dashed #FFFFFF;
		border-radius: 2px;
		&.fileover {
			border: 1px dashed var(--primary-color);
		}
	}
	&__input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		position: absolute;
		z-index: -10;
	}
	&__icon {
		width: 18px;
		height: 14px;
		color: var(--light-color);
	}
	&__icon-svg {
		width: 18px;
		height: 14px;
		color: var(--light-color);
		svg {
			width: 18px;
			height: 14px;
		}
	}
	&__text {
		margin-top: 17px;
		width: 396px;
		height: 42px;
		font-weight: 500;
		font-size: 14px;
		line-height: 21px;
		text-align: center;
		color: var(--light-color);
	}
	&__link {
		text-decoration-line: underline;
		color: #AE7AFF;
		cursor: pointer;
	}
}
