.profile__page-header {
	width: 100%;
	padding: 24px 24px 24px 48px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profile__page-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	width: 174px;
	height: 44px;
	background-color: var(--primary-color);
	border: 1px solid var(--dark-color);
	border-radius: 2px;
	color: var(--dark-color);
	margin-right: 150px;
	&:hover {
		.profile__page-svg {
			transform: rotate(30deg);
			transition: all .5s;
		}
	}
}

.profile__page-svg {
	width: 14px;
	height: 14px;
}

.profile-content {
	display: grid;
	grid-template-columns: 1fr 350px;
}

.profile-subscribers {
	margin-top: 16px;
	display: flex;
	align-items: center;
	gap: 6px;
}

.subscriber-avatar-btn {
	width: 36px;
	height: 36px;
	display: block;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
		border-radius: 50%;
	}
}

.to-sibscriber-search {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	position: relative;
	background-color: inherit;
	&::after {
		content: '+';
		display: flex;
		align-items: center;
		justify-content: center;
		width: 16px;
		height: 16px;
		background-color: var(--light-color);
		border-radius: 50%;
		position: absolute;
		top: calc(50% - 16px/2);
		left: calc(50% - 16px/2);
		font-size: 20px;
		color: var(--dark-color);
	}
}

.skills {
	margin-top: 16px;
	display: flex;
	gap: 4px;
}

.profile-about {
	margin-top: 16px;
	font-size: 12px;
	line-height: 16px;
}
