* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  :focus,
  :active {
    outline: none;
  }
  a:focus,
  a:active {
    outline: none;
  }
  nav,
  footer,
  header,
  aside {
    display: block;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    font-size: 14px;
    font-family: 'Golos';
  }
  html {
    scroll-behavior: smooth;
  }
  button {
    cursor: pointer;
  }
  a,
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  ul li, nav li {
    list-style: none;
  }

.container {
  width: 1222px;
  margin: 0 auto;
}
